<br>
<div id="header"><b>Displaying '{{q}}' Streams</b></div>

<span id="numStreams"><i>Total results: {{model._total}}</i></span>

<table class="table table-striped">
{{#each model.streams as |stream|}}
<tr>
	{{stream-view name=stream.channel.name game=stream.channel.game description=stream.channel.status viewers=stream.viewers pic=stream.preview.medium url=stream.channel.url}}
</tr>

{{/each}}
</table>



{{outlet}}

	
